.catalog {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .catalog-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
  }
  
  .clothing-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px; /* Defina uma altura fixa para todos os itens */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura definida */
  }
  

  .clothing-card {
    width: 100%; /* Cada cartão ocupa 100% da largura da coluna */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 100%; /* Defina a altura da clothing-card para 100% */
  }
  
  .clothing-card img {
    max-width: 46%;
    height: auto;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .catalog-items > .clothing-card {
      flex: 1 0 calc(50% - 20px); /* Distribui em 2 colunas com margens */
      max-width: calc(50% - 20px); /* Máximo de 2 colunas */
    }
  }