.cart-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .alinhamentoBotoes {
    display: flex;
  }
  
  
  
  h2 {
    text-align: center;
  }
  
  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .cancel-button {
    background-color: #ff5858;
    color: white;
    border: none;
    height: 30px;
    padding: 0px 9px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    outline: none; /* Remove a borda de foco ao clicar */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave na cor de fundo */
  }
  
  .cancel-button:hover {
    background-color: #ff0000;
  }
  
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .total {
    font-weight: bold;
  }
  
  .checkout-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #iconeEditar{
    cursor:pointer;
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  


  @media (max-width: 768px) {
    .cart-item {
      flex-direction: column; /* Muda para empilhamento em telas menores */
    }
  
    .item-details {
      width: 100%; /* Ocupa a largura total */
      margin-bottom: 10px; /* Adiciona um espaçamento entre os detalhes e o botão */
    }
  
    .cancel-button {
      width: 100%; /* Ocupa a largura total */
    }
  }
  