.clothing-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Largura total */
    max-width: 200px; /* Largura máxima do card */
  }

.cardStyle {
    width: 200px;
    height: 300px;
}

.clothing-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  
  .clothing-details {
    text-align: center;
  }

  .clothing-details h5 {
  font-size: 1rem; /* Tamanho do título ajustável */
  margin-bottom: 8px; /* Espaçamento inferior */
}

/* Estilos para as informações do card */
.clothing-details p {
  font-size: 0.9rem; /* Tamanho do texto ajustável */
  margin-bottom: 4px; /* Espaçamento inferior */
}

/* Estilos para o ícone 'Comprar' */
.clothing-details i {
  font-size: 0.9rem; /* Tamanho do ícone ajustável */
}
  
  
  .catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  /* Estilos para cada card dentro da lista de itens do catálogo */
.catalog-items > .clothing-card {
    flex: 1 0 calc(25% - 20px); /* Distribui em 4 colunas com margens */
    max-width: calc(25% - 20px); /* Máximo de 4 colunas */
    margin: 10px; /* Margem entre os cards */
  }

  /* Estilos para quando a tela for menor */
@media screen and (max-width: 768px) {
    .catalog-items > .clothing-card {
      flex: 1 0 calc(50% - 20px); /* Distribui em 2 colunas com margens */
      max-width: calc(50% - 20px); /* Máximo de 2 colunas */
    }
  }
@media (max-width: 768px) {
    .clothing-details h5 {
      font-size: 0.8rem;
    }
  
    .clothing-details p {
      font-size: 0.65rem;
      margin-bottom: 4px;
    }
  
    .clothing-details i {
      font-size: 0.7rem;
    }
  }